## <summary>REMOTIX: this machine's desktop in the browser.</summary>

########################################
## <summary>
##	Transition to the REMOTIX service domain.
## </summary>
## <param name="domain">
##	<summary>
##	The domain being allowed.
##	</summary>
## </param>
#
interface(`remotix_domtrans',`
	gen_require(`
		type remotix_t, remotix_exec_t;
	')

	domtrans_pattern($1, remotix_exec_t, remotix_t)
')
