[Desktop Entry]
Type=Application
Name=REMOTIX
Comment=Il desktop nel browser
Exec=/usr/lib/remotix/remotix
NoDisplay=true
X-KDE-Wayland-Interfaces=zkde_screencast_unstable_v1
